<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h3 class="text-3xl">Are you sure you want to Delete the post ?</h3>
        <br>
        <form action="/delete/<%= post._id%>" method="post">
            
            <a href="/profile">Back to profile</a>
            <input type="submit" name="delete" value="Delete" class="px-5 py-2 bg-red-500 rounded-md"  id="">
            
        </form>
    </div>
</body>
</html>